<p>Hey,</p>

<p>Your patch "{{title}}" is now waiting for an administrator to approve it so it can appear publicly.</p>
<p>In the meantime you can share it with this link : <a href="{{url}}">Patch link</a></p>
<p>You will receive an email once it's done, thanks for your contribution !</p>
